.done-button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-warning);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
}

.done-button:hover {
  background-color: #FFD84D;
  /* border: 1px solid white; */
}

/* .done-button:active {
  transform: scale(0.98);
} */
